/bin
*.cfg
.builder
.scripts
.sonarlint
.gradle
.settings
.gitattributes
*.log
*.out
.windsurf/.codeium/windsurf
.windsurf/.windsurf-server
!.windsurf/.codeium/windsurf/mcp_config.json
.devcontainer/logs
.devcontainer/feature
web-next/node_modules/
web-next/.next/
.windsurf
.vscode




